/* Colors */
.ui-header, .ui-page-theme-a .ui-footer.ui-bar-inherit
{
	background-color:#0266b2;
	color:#fff;
	text-shadow:none;
}
.ui-page-theme-a
{
	background-color:#fff;
}
#search-form, .ui-slider-track
{
	background-color:#f9f9f9;
}
.ui-btn, .ui-btn:hover
{
	border-color:#000 !important;
}
.ui-input-search.ui-body-inherit
{
	border:1px solid #000;
}
.ui-highlite
{
	background-color:#8f8 !important;
}

/* Containers */
.hidden
{
	display:none !important;
}
.out
{
	position:absolute;
	left:-10000px;
}
.divider
{
	border-top:1px solid #ddd;
}
p.last
{
	margin-bottom:0;
}

/* Elements */
.ui-footer a.main-btn {
	display:block;
	width:60%;
	padding-left:0;
	padding-right:0;
	margin:1em auto;
	font-size:16px;
}

/* Product list */
ul#product-list li a
{
	line-height:80px;
}
ul#product-list li a img:first-child
{
	top:1em;
}
ul#product-list li a span.price, ul#cart-list li a span.price
{
	display:block;
	float:right;
	font-weight:normal;
}
div.list-header span.price
{
	display:block;
	float:right;
	margin-right:5em;
}

/* Category list */
ul#category-list
{
	width:90%;
	padding:0;
	margin:0 auto;
}
ul#category-list li
{
	list-style:none;
	display:inline-block;
	text-align:center;
	width:43.7%;
	margin:3.4% 3%;
}
ul#category-list a
{
	margin:0;
}
ul#category-list li a img
{
	display:block;
	margin:0 auto;
	height:100px;
}

/* Product page */
#product
{
	padding:1em 2em;
}
#product h1
{
	margin:0 0 0 -1em;
	line-height:100px;
	font-size:1.3em;
}
#product h1 img
{
	display:inline-block;
	vertical-align:middle;
	height:100px;
	margin-right:1em;
}
table.product-attributes
{
	margin:1.5em 0;
	width:100%;
	line-height:2em;
}
table.product-attributes th
{
	width:45%;
	text-align:left;
}
table.product-facts
{
	width:100%;
	caption-side:bottom;
}
table.product-facts th
{
	text-align:left;
	border-bottom:1px solid #ddd;
}
table.product-facts td.nam
{
	width:45%;
}
table.product-facts td.sub
{
	padding-left:1em;
}
table.product-facts td.val
{
	width:5em;
}
table.product-facts caption
{
	text-align:left;
	font-size:0.8em;
}

/* Product amount input */
form.amount-form
{
	margin:0 3.5em 0 3.5em;
	padding:0;
	position:relative;
}
form.amount-form .ui-slider
{
	margin:0.7em 3.5em 0.7em 0;
}
form.amount-form .ui-slider-track
{
	margin:0 15px;
}
form.amount-form .ui-slider input
{
	display:none;
}
form.amount-form label
{
	position:absolute;
	top:0.4em;
	right:0;
	width:3em;
}
.amount-toolbar
{
	height:120px;
}
#hint-select
{
	background:url("bubble.png") no-repeat 0 0;
	width:252px;
	margin:-10px 0 0 3.5em;
	padding:1.2em 0 0.8em 0;
}
#hint-select h1
{
	margin:0;
	line-height:44px;
	color:#000;
	font-size:16px;
	text-align:center;
}
#continue a
{
	display:block;
}
#continue p
{
	margin:1em 0;
}

/* Cart toolbar */
#cart-toolbar h1 {
	float:left;
}
#cart-toolbar h1.total {
	float:right;
	margin-right:3.6em;
}
#cart-toolbar a {
	margin-top:2.5em;
}

/* Ticket page */
#ticket {
	text-align:center;
	padding-top:2em;	
}
#queue-number {
	margin: 20px auto 40px;
	background:#eee;
	border:1px solid #ddd;
	border-radius:50%;
	width:120px;
	height:105px;
	padding-top:15px;
	font-size:70px;
	font-weight:bold;
}
#queue-time {
	width:60%;
	margin:1em auto;
	padding:0.4em 0;
	border:1px dashed #ddd;
}
#queue-time p {
	font-size:2em;
	margin:0;
}
.served #wait {
	display:none;
}
.served #queue-number {
	background:#8f8;
}
#result ul {
	padding:0;
}
#result ul li {
	list-style:none;
}
#result ul li.canceled {
	text-decoration:line-through;
}

/* Queue */
#order-list {
	margin:1em;
	padding:0;
}
#order-list > li {
	list-style:none;
	margin:0.5em 0;
	padding:1em;
	border:1px solid #ddd;
}
#order-list > li .number:before {
	content: "▼";
	margin-right:0.5em;
	color:#ddd;
}
#order-list > li.minimized .number:before {
	content: "▶";
}
#order-list a {
	display:block;
	text-decoration:none;
	color:black;
}
#order-list .items {
	font-weight:normal;
	margin-left:2em;
}
#order-list .time {
	float:right;
}
#order-list .late {
	color:red;
}
#order-list form {
	margin-top:1em;
}
#order-list form .check {
	position:relative;
	padding-left:3em;
}
#order-list form button {
	position:absolute;
	opacity:1;
	left:0.5em;
	top:-0.1em;
	border:none;
}
#order-list form .right {
	position:absolute;
	left:50%;
}
#order-list form a.processed {
	opacity:1;
}
#order-list form a.processed span {
	color:#bbb;
}
#order-list form a.check.selected button:after, #order-list form a.delete.selected:after {
	background-color:#8f8;
}
#queue .ui-footer {
	padding:0 1em;
}
