{% extends "ui/mobile.html" %}
{% load staticfiles %}

{% block title %}Order Queue{% endblock %}

{% block js_code %}
var queueUrl = "{% url 'orders.views.queue_orders' %}";
var checkUrl = "{% url 'orders.views.queue_order_check' %}";
var signUrl = "{% url 'orders.views.queue_order_sign' %}";
var printUrl = "{{ print_url }}";
{% endblock %}

{% block head %}
<script src="{% static 'queue.js' %}"></script>
{% endblock %}

{% block body %}
	
<div data-role="page" id="queue">
	<ul id="order-list">
		<li data-id="tpl__" class="ui-corner-all hidden">
			<a href="#">
				<span class="number">#19</span>
				<span class="items">0 items</span>
				<span class="time">0 mins left</span>
			</a>
			<form>
				{% csrf_token %}
				<ul data-role="listview" data-inset="true">
					<li data-id="tpl2__" class="hidden">
						<a class="check" href="#">
							<button class="ui-btn ui-icon-check ui-btn-icon-notext ui-corner-all" disabled="disabled">Check</button>
							<span class="name">Name (19)</span>
							<span class="right">0.00 kg</span>
						</a>
						<a class="delete ui-icon-delete" href="#">
							Delete
						</a>
					</li>
				</ul>
			</form>
			<button class="sign ui-btn ui-icon-check ui-btn-icon-left ui-corner-all hidden">
				Sign order ready
			</button>
		</li>
		<li data-id="empty__" class="ui-corner-all hidden">
			No orders
		</li>
	</ul>
	<div data-role="footer" data-position="fixed" data-tap-toggle="false" class="ui-mini">
		<a href="{% url 'admin:index' %}">Manage products and categories</a>
	</div>
	<form id="print-form" action="{{ print_url }}" method="post">
		<input type="hidden" name="number" value="" />
		<input type="hidden" name="time" value="" />
	</form>
</div>

{% endblock %}